In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\aman\appdata\local\programs\python\python312\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\aman\appdata\local\programs\python\python312\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\aman\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\aman\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\aman\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\aman\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [4]:
import numpy as np
import pandas as pd

In [18]:
dict1 = {
    "name": ['Aman', 'Rohan', 'Om', 'Arif', 'Omkar'],
    "marks": [30, 23, 20, 28, 28],
    "city": ['pune', 'latur', 'satara', 'nanded', 'pune']
}

for key, value in dict1.items():
    print(f"{key}: {value}")

name: ['Aman', 'Rohan', 'Om', 'Arif', 'Omkar']
marks: [30, 23, 20, 28, 28]
city: ['pune', 'latur', 'satara', 'nanded', 'pune']

In [19]:
dict1

{'name': ['Aman', 'Rohan', 'Om', 'Arif', 'Omkar'],
 'marks': [30, 23, 20, 28, 28],
 'city': ['pune', 'latur', 'satara', 'nanded', 'pune']}

In [20]:
df = pd.DataFrame(data=dict1)

In [21]:
df

    name  marks    city
0   Aman     30    pune
1  Rohan     23   latur
2     Om     20  satara
3   Arif     28  nanded
4  Omkar     28    pune

In [ ]:
newdf = pd.DataFrame(